<div class="nav">
  <ul class="nav-links">
    <li><%= link_to "A propos", about_path, class:"", id:"navitem" %></li>
    <li><%= link_to "Projets", projects_path, class:"", id:"navitem" %></li>
  </ul>
</div>
