<%= render 'shared/navbar2' %>

<div class="body">

  <div class="text">
    <h1 class="mt ho">Ridray Axel</h1>
    <h2 class="mt ho"><span>Web Developpeur - Junior</span></h2>

      <p class="about"> Salut ! Je m'appelle Axel, ancien cuisinier en 2021 je me suis reconvertie
        dans le développement Web grâce à la formation du wagon, 
        je code le Back end et le Front end !
      </p>
  
    <ul id="social">
      <li><a href="https://github.com/al-503" target="_blank"><i class="fab fa-github-square"><span class="social-name"> Git Hub</span></i></a></li>
      <li><a href="https://www.linkedin.com/in/axel-ridray-045733205/" target="_blank"><i class="fab fa-linkedin"><span class="social-name"> Linkedin</span></i></a></li>
    </ul>

  </div>
  <!--<div class="group">--->
  <%= image_tag ("axeldet3.png"), class: "portrait" %>
    <!--<div class="bublle five"></div>-->
    <!--<div class="bublle four"></div>-->
    <!--<div class="bublle three"></div>-->
    <!--<div class="bublle two"></div>-->
    <!--<div class="bublle one"></div>-->
  <!--</div>-->
</div>
