<div class="text">
  <p class="about"> Salut ! Je m'appelle Axel, ancien cuisinier en 2021 je me suis reconvertie
        dans le développement Web grâce à la formation du wagon et
        je m'intéresse aux Front End mais j'apprécie aussi le Back end !
  </p>
</div>