<div class="projects">
  <% @projects.each do |p| %>
    <a class="link" href="<%= p.web %>" target="blank">
      <div class="project">

        <%= cl_image_tag p.photo.key, class:"pic" %>

        <div class="line">
          <h3><%= p.name %></h3>
        </div>

        <div class="card-content">
          <p class="desc"><%= p.description%></p>
        </div>

      </div>
    </a>
  <% end %>
</div>