<div class="projects">
  <% @projects.each do |p| %>

    <div class="project">

      <a class="link" href="<%= p.web %>" target="blank">
        <%= cl_image_tag p.photo.key, class:"pic" %>

        <h3 class="line"><%= p.name %></h3>

        <div class="langages">
          <% p.langages.each do |l|%>
            <p><%= cl_image_tag l.photo.key, class:"langlogo" %></p>
          <% end %>
        </div>
      </a>

    </div>


  <% end %>
</div>