.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-left: 0;
  width: 80%;
  text-align: center;
}

.tools {
  display: flex;
  margin: 4px;
  margin-right: 32px;
}

.langs {
  display: flex;
  margin: 4px;
  margin-left: 32px;
}

.liicon {
  list-style: none;
}

.ulicon {
  margin: 0;
  padding: 0;
}

.tool, .lang {
  width: 50px;
  padding: 4px;
  margin: 4px;

}

/* mokeup & schema */
.mokeup, .schema {
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}

.mokeup-content, .schema-content {
  display: flex;
  align-items: center;
}

.mokepic, .schemapic {
  width: 40%;
  height: 25%;
}

.moketext, .schematext {
  width: 50%;
  height: 25%;
  margin: 0 auto;
}
