@media all and (min-width: 1024px) and (max-width: 1920px) {

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 4% auto;
}

.tools {
  display: flex;
  margin: 4px;
  margin-right: 32px;
}

.langs {
  display: flex;
  margin: 4px;
  margin-left: 32px;
}

.liicon {
  list-style: none;
}

.ulicon {
  margin: 0;
  padding: 0;
}

.tool, .lang {
  width: 50px;
  padding: 4px;
  margin: 4px;

}

/* mokeup & schema */
.mokeup, .schema {
  margin: 32px auto;
  text-align: center;
  padding: 8px;
  width: 80%;
  margin-top: 0px;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: #032041e1;
  letter-spacing: 3px;
}

.mokepic, .schemapic {
  width: 45%;
  height: 5%;
  margin: 5px;
}

.moketext, .schematext {
  width: 78%;
  height: 25%;
  margin: 0 auto;
  margin-top: 15px;
}

}

@media all and (min-width: 600px) and (max-width: 1024px) {

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-left: 0;
  width: 80%;
  text-align: center;
}

.tools {
  display: flex;
  margin: 4px;
  margin-right: 32px;
}

.langs {
  display: flex;
  margin: 4px;
  margin-left: 32px;
}

.liicon {
  list-style: none;
}

.ulicon {
  margin: 0;
  padding: 0;
}

.tool, .lang {
  width: 50px;
  padding: 4px;
  margin: 4px;

}

/* mokeup & schema */
.mokeup, .schema {
  margin: 32px auto;
  text-align: center;
  padding: 8px;
  width: 80%;
}
h3 {
  font-family: 'Bebas Neue', cursive;
  color: #032041e1;
  letter-spacing: 3px;
}

.mokepic, .schemapic {
  width: 45%;
  height: 5%;
  margin: 5px;
}

.moketext, .schematext {
  width: 78%;
  height: 25%;
  margin: 0 auto;
  margin-top: 15px;
}

}

@media all and (min-width: 320px) and (max-width: 600px) {

.icons {
  margin-left: 10%;
}

.tools {
  display: flex;
}

.langs {
  display: flex;
  margin-left: 10px;
}

.liicon {
  list-style: none;
}

.ulicon {
  margin: 0;
  padding: 0;
}

.tool, .lang {
  width: 25px;
  padding: 4px;
  margin: 4px;
}

/* mokeup & schema */
.mokeup, .schema {
  margin: 10px auto;
  text-align: center;
  padding: 8px;
  width: 80%;
  margin-top: 50px;
}
h3 {
  font-family: 'Bebas Neue', cursive;
  color: #032041e1;
  letter-spacing: 3px;
}

.mokepic, .schemapic {
  width: 45%;
  height: 5%;
  margin: 5px;
}

.moketext, .schematext {
  width: 78%;
  height: 50%;
  margin: 0 auto;
}

}