@media all and (min-width: 1024px) and (max-width: 1920px) {

  .project {
    margin: 0 auto;
    margin-top: 50%;
    width: 25%;
    height: 60%;
    transform: rotate(-90deg);
  }
  .pic {
    width: 400px;
    height: 100px;
    object-fit: cover; /* comme backgroud size cover*/
    image-rendering: auto;
    border-radius: 16px;
  }

  .line {
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
    font-size: 36px;
    color: white;
    position: relative;
    bottom: 70px;
    left: 25%;
    text-align: center;
  }

  .link {
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
    &:hover {
      text-decoration: none;
      color: #373e4d;
    }
  }
}

@media all and (min-width: 600px) and (max-width: 1024px) {

  .project {
    margin: 8% auto;
    width: 210px;
    height: 370px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    text-align: center;
  }

  .pic {
    margin: 16px auto;
    width: 180px;
    height: 180px;
    background-color: #373e4d;
    object-fit: cover; /* comme backgroud size cover*/
    image-rendering: auto;
  }

  .line {
    font-family: 'Bebas Neue', cursive;
    margin: 2px auto;
    font-size: 16px;
  }

  .desc {
    text-align: justify;
    margin: 18px auto;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 8px;
    background-color: transparent;
  }

  .link {
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
      &:hover {
        text-decoration: none;
        color: #373e4d;
    }
  } 
}

@media all and (min-width: 320px) and (max-width: 600px) {

  .project {
    margin: 8% auto;
    width: 210px;
    height: 370px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    text-align: center;
  }

  .pic {
    margin: 16px auto;
    width: 180px;
    height: 180px;
    background-color: #373e4d;
    object-fit: cover; /* comme backgroud size cover*/
    image-rendering: auto;
  }

  .line {
    font-family: 'Bebas Neue', cursive;
    margin: 2px auto;
    font-size: 16px;
  }

  .desc {
    text-align: justify;
    margin: 18px auto;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 8px;
    background-color: transparent;
  }

  .link {
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
      &:hover {
      text-decoration: none;
      color: #373e4d;
    }
  }
}