@media all and (min-width: 1024px) and (max-width: 1920px) {

  .project_choice {
    margin: 0 auto;
    margin-top: 8px;
    width: 100px;
    height: 400px;
  }

  .pic {
    width: 100px;
    height: 400px;
    object-fit: cover; /* comme backgroud size cover*/
    image-rendering: auto;
    border-radius: 16px;
  }

  .line {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    font-size: 36px;
    color: white;
    position: relative;
    bottom: 22%;
    text-align: center;
    transform: rotate(-90deg);
  }

  .link {
    text-decoration: none;
    color: #373e4d;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    &:hover {
      text-decoration: none;
      color: #373e4d;
    }
  }

  .fa-arrow-up {
    font-size: 16px;
    color: #373e4d;
    transform: rotate(-90deg);
  }

  .project_body {
    margin: 0 auto;
  }

}

@media all and (min-width: 600px) and (max-width: 1024px) {

  .project_choice {
    width: 400px;
    height: 100px;
    margin-top: 8%;
  }

  .pic {
    margin: auto;
    width: 400px;
    height: 100px;
    object-fit: cover; /* comme backgroud size cover*/
    image-rendering: auto;
    border-radius: 16px;
  }

  .line {
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
    font-size: 36px;
    color: white;
    position: relative;
    bottom: 70px;
    left: 25%;
    text-align: center;
  }

  .link {
    text-decoration: none;
    color: #373e4d;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    &:hover {
      text-decoration: none;
      color: #373e4d;
    }
  }

  .fa-arrow-up {
    font-size: 16px;
    color: #373e4d;
    transform: rotate(-90deg);
  }
}

.back_button {
  position: absolute;
  top: 0px;
}

@media all and (min-width: 320px) and (max-width: 600px) {

  .project_choice {
    width: 300px;
    height: 100px;
    margin-top: 8%;
  }

  .pic {
    width: 300px;
    height: 100px;
    object-fit: cover; /* comme backgroud size cover*/
    image-rendering: auto;
    border-radius: 16px;
  }

  .line {
    width: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    font-size: 36px;
    color: white;
    position: relative;
    bottom: 70px;
    left: 4%;
    text-align: center;
  }

  .link {
    text-decoration: none;
    color: #373e4d;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    &:hover {
      text-decoration: none;
      color: #373e4d;
    }
  }

  .fa-arrow-up {
    font-size: 16px;
    color: #373e4d;
    transform: rotate(-90deg);
  }
}
