// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries

@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {   
  background-color: rgb(234, 235, 253);
  width: auto;
  height: auto;
  margin: 0 auto;
  overflow:hidden;
}

html{
  width: 100vw;
  height: 100vh;
}


//@media all and (min-width: 1400px) and (max-width: 1920px) {
  
//  .cursor {
//    width: 40px;
//    height: 40px;
//    border-radius: 50%;
//    border: 1px solid black;
//    position: absolute;
//    z-index: 1;
//    transform: translate(-50%, -50%);
//    pointer-events: none;
// }
  
//  body{
//    height: 100vh;
//    width: 99vw;
//    cursor: none;
//  }
//}
